In [132]:
# for variable collection

fruits =["Apple", "Banana" , "Watermelon" , "Pineapple"]
for fruit in fruits:
    print(f"Nama Buah: {fruit}")

Nama Buah: Apple
Nama Buah: Banana
Nama Buah: Watermelon
Nama Buah: Pineapple

In [133]:
#CONTOH PENGGUNAAN
#kelas ti24f punya data nilai pemrograman python 80,100,90,70,70,50,40
#carilah nilai rata2 nilai pemrograman python dikelas ti24f

nilaiPython=[80,100,90,70,70,50,40]
total = 0
for nilai in nilaiPython:
    total+= nilai

rata2=total / len(nilaiPython)
print(f"Nilai rata2: {ratarata})

SyntaxError: unterminated f-string literal (detected at line 11) (2986453181.py, line 11)

In [134]:
#enumerate
month=["Jan","Feb","Apr","May","Jun","Jul","Aug","Sep"]
for i,m in enumerate(month):
    print(f"{i} :{m}")

0 :Jan
1 :Feb
2 :Apr
3 :May
4 :Jun
5 :Jul
6 :Aug
7 :Sep

In [ ]:
kampus=input("Iskan Nama Kampud:")
total=0

for karakter in kamus:
    if karakter in listVokal
    total += 1
    print(karakter)
    else:
    isVokal="Bukan huruf Vokal"
print(f"{karakter}adalah {isVokal}|Total:{total}")
print(f"Jumlah Total huruf Vokal :{total}")

In [ ]:
##looping comprehension

data= [1,2,3,4,5]
pangkat= [x**2 for x in data]
print(pangkat)

In [ ]:
##RANGE
for i in range(10):
    print(f"Nilai i adalah:{i}")

In [ ]:
for j in range(5,10):
    print(f"Nilai j: {j}")

In [ ]:
###### cek bilangan prima atau bukan

number= int(input("Isikan Bilangan:"))
faktor=0
for i in range (1,number+1):
    if number % i ==0:
        faktor +=1

if faktor==2:
    print(f"{number} adalah bilangan prima")
    
else:
    print(f"{number} adalah bukan bilangan prima")

In [ ]:
#faktorial
#31=3*2*1
number= int(input("Isikan Bilangan :"))
total = 1
for i in range (1,number+1):
    total *= i

print(f"{number}! = {total}")

In [ ]:
## 1 -2 3 -4 5 -6 -7 8 9 -10
number = int(input("Isikan Bilangan:"))
Sign= 1
for i in range (1,number+1):
    result= Sign* i
    print(f"{result} ",end='')
    Sign *= -1

In [142]:
kursiBioskop = ["L","P","P","L","L","P","L"]

#HITUNG JUMLAH KURSI LAKI,HITUNG JUMLAH KURSI PEREMPUNAN

totalLaki=0
for jenis in kursiBioskop:
    if jenis=="L":
        totalLaki +=1
print(f"Jumlah Penonton Laki laki {totalLaki}") 
print(f"Jumlah Penonton Perempuan :{len(kursiBioskop)-totalLaki}")

Jumlah Penonton Laki laki 4
Jumlah Penonton Perempuan :3

In [70]:
kursi= ["L","P","P","L","L","P","L"]
couple=0
for i in range(len(kursi)-1):
    if kursi[i] != kursi[i+1]:
        
        couple +=1
print(f"Jumlah Couple: {couple}")

Jumlah Couple: 4

In [39]:
data={
    "fname":"Albar",
    "lname":"Alges"
}
for key,value in data.items():
    print(f"{key} : {value}")

fname : Albar
lname : Alges

In [ ]:
tahu =[10,10,10,10,10,10]
#harga 1 tahu =2000
#jika ada orang beli tahu 15