<b>Project</b>
Buatla data latih sederhana untuk klasifikasi data berdasarkan
<ol>
    <li> Usia :18-60 </li>
    <li>transaksi perbulan : 0-50</li>
    <li>label : loyal (0) , tidak loyal (1)</li>
    <li>Gender: L , P</li>
    


</ol>

In [10]:
import numpy as np
import pandas as pd

n_data = 100

usia= np.random.randint(18,61,size= n_data)
transaksi= np.random.randint(0,51,size= n_data)
label= np.random.randint(0,2,size=n_data)
gender= np.random.choice (['L','P'],size= n_data)

df= pd.DataFrame({
    'Usia' : usia,
    'Transaksi' : transaksi,
    'Label' : label,
    'Gender' : gender
})
df.to_csv('dataLatih.csv',index=False)
df.head

<bound method NDFrame.head of     Usia  Transaksi  Label Gender
0     33         25      1      L
1     21         17      0      L
2     38          0      1      P
3     19         12      1      P
4     22         24      1      L
..   ...        ...    ...    ...
95    52         13      0      P
96    55         26      1      L
97    47         24      1      P
98    21          0      1      P
99    35         11      0      L

[100 rows x 4 columns]>

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Usia       100 non-null    int32
 1   Transaksi  100 non-null    int32
 2   Label      100 non-null    int64
 3   Gender     100 non-null    object
dtypes: int32(2), int64(1), object(1)
memory usage: 2.5+ KB

In [6]:
df

    Usia  Transaksi  Label Gender
0     45          0      0      L
1     40          9      0      L
2     38         28      0      L
3     23         48      0      P
4     24          1      0      P
..   ...        ...    ...    ...
95    50         32      0      L
96    38         12      0      L
97    57         27      0      P
98    28         32      0      L
99    32         33      0      P

[100 rows x 4 columns]

In [8]:
df.size

400

In [12]:
df.shape

(100, 4)