In [576]:
name = "jokowi"
age =20
address,province="Jl.Cibadak","7413412"
pythonScore = 15.5
isMarried = True

print("Nama :",name)
print("Umur :",age)
print("Alamat :",address)
print("Provinsi :",province)
print("Nilai Pemrograman :",pythonScore)
print("Status Menikah :" ,isMarried)

Nama : jokowi
Umur : 20
Alamat : Jl.Cibadak
Provinsi : 7413412
Nilai Pemrograman : 15.5
Status Menikah : True

In [479]:
print("tipe Data (Nama):",type(name))
print("tipe Data (Umur):",type(age))
print("tipe Data (Alamat):",type(address))
print("tipe Data (Provinsi):",type(province))
print("tipe Data (Nilai Pemrograman):",type(pythonScore))
print("tipe Data (Status Menikah):",type(isMarried))

tipe Data (Nama): <class 'str'>
tipe Data (Umur): <class 'int'>
tipe Data (Alamat): <class 'str'>
tipe Data (Provinsi): <class 'str'>
tipe Data (Nilai Pemrograman): <class 'float'>
tipe Data (Status Menikah): <class 'bool'>

In [511]:
strToInt = int(province)
strToFloat = float(province)
strToBool = bool(province)
print(strToInt,strToFloat,strToBool)

floatToInt = int(pythonScore)
floatToStr = str(pythonScore)
floatToBool = bool(pythonScore)
print(floatToInt,floatToStr,floatToBool)

intToStr = str(age)
intToFloat = float(age)
intToBool = bool(age)
print(intToStr,intToFloat,intToBool)

boolToStr= str(isMarried)
boolToInt = int(isMarried)
boolToFloat = float(isMarried)
print(boolToStr,boolToInt,boolToFloat)

7413412 7413412.0 True
15 15.5 True
20 20.0 True
True 1 1.0

In [516]:
city="Cibadak"
panjang =len(city)
print(city[0])
print(city[panjang-1])

C
k

In [527]:
desimal = 500
biner = 0b1010
octal = 0o377
hexa = 0xff

print("Nilai desimal:",desimal)
print("Nilai biner:",biner)
print("Nilai octal:",octal)
print("Nilai hexa:",hexa)

print("biner dari" ,desimal ,":",bin(desimal))
print("octal dari" ,desimal ,":", oct(desimal))
print("hexa dari ",desimal,":",hex(desimal))

Nilai desimal: 500
Nilai biner: 10
Nilai octal: 255
Nilai hexa: 255
biner dari 500 : 0b111110100
octal dari 500 : 0o764
hexa dari  500 : 0x1f4

In [528]:
#tipe data collection
cities=["Sukabumi","Malang","Bandung","Surabaya"]
print(cities)
print(cities[0])
print(cities[len(cities)-1])
cities[1]="Jakarta"
print(cities)

['Sukabumi', 'Malang', 'Bandung', 'Surabaya']
Sukabumi
Surabaya
['Sukabumi', 'Jakarta', 'Bandung', 'Surabaya']

In [575]:
#tipe data tuple
hobbies=("Basket","Sholat","Football")
print(hobbies)
print(hobbies[0])
#hobbies[0]="Watching Netflix"

#tipe data tuple tidak bisa dirubah!!!!!!!
#DICTIONARY
studentData={
    "name" : "Alges",
    "age" : 69,
    "address" :{
        "street" :"Jl.Cilegon",
        "number" :20,
        "province" :"Kab.Sukabumi",
    }
}
print(studentData)
print(studentData["name"])
print(studentData["address"]["province"])

('Basket', 'Sholat', 'Football')
Basket
{'name': 'Alges', 'age': 69, 'address': {'street': 'Jl.Cilegon', 'number': 20, 'province': 'Kab.Sukabumi'}}
Alges
Kab.Sukabumi

In [835]:
studentList= [
{
    "name" : "Alges"
    "age" : 69 ,
    "address" :{
        "street" :"Jl.Cilegon",
        "number" :20,
        "province" :"Kab.Sukabumi"
    }
},
    "name" : "Rijal Bengkel",
    "age" : 49,
    "address" : {
        "street" :"Jl.Ciputat",
        "number" :23,
        "province" :"Kab.Sukasuka"
    }

]
            
print(studentList[1])

SyntaxError: invalid syntax (1761969709.py, line 4)